@page
@model KitapYorum.RazorPage.Pages.Kategoriler.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kategori.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori.MyUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kategori.MyUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Kategori.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
