@page
@model KitapYorum.RazorPage.Pages.Account.EditModel
@{
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/default.min.css" />

<div class="card">
	<div class="card-header">
		<h3>Edit</h3>
	</div>
	<div class="card-body">

		<div class="container">
			<div class="row gutters">
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
					<div class="card h-100">
						<div class="card-body">
							<div class="account-settings">
								<div class="user-profile">
									<div class="user-avatar">
										<img src="@Model.Profile.ImagePath" alt="@Model.Profile.UserName">
									</div>
									<h5 class="user-name">@Model.Profile.UserName</h5>
									<h6 class="user-email">@Model.Profile.Email</h6>
								</div>
								<div class="about">
									<h5>About</h5>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
					<div class="card h-100">
						<div class="card-body">
							<div class="row gutters">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<h6 class="mb-2 text-primary">Personal Details</h6>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label for="fullName">Full Name</label>
										<input type="text" class="form-control" id="fullName" placeholder="Enter full name" disabled>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label for="eMail">Email</label>
										<input type="email" class="form-control" id="eMail" placeholder="Enter email ID" disabled>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label for="phone">Phone</label>
										<input type="text" class="form-control" id="phone" placeholder="Enter phone number">
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label for="website">Website URL</label>
										<input type="url" class="form-control" id="website" placeholder="Website url">
									</div>
								</div>
							</div>
							<div class="row gutters">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="form-group">
										<label asp-for="@Model.Profile.About">About</label>
										@* @Html.TextAreaFor(model => model.Profile.About, new { @id = "about" }) *@
										<textarea cols="50" rows="30" asp-for="@Model.Profile.About" class="form-control" id="about">@Model.Profile.About</textarea>
									</div>
								</div>
							
							</div>
							@* <div class="row gutters">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="text-right">
										<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
										<button type="button" id="submit" name="submit" class="btn btn-primary">Update</button>
									</div>
								</div>
							</div> *@
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

@section Scripts
{
	<script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/sceditor.min.js">
		</script>
	<script>
		// Replace the textarea #example with SCEditor
		var textarea = document.getElementById('about');
		sceditor.create(textarea, {
			format: 'bbcode',
			style: 'https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/content/default.min.css'
		});
	</script>
}